<h1><%= pluralize(@implements.size, 'Implement') %></h1>

<%= link_to "Add New Implement", new_implement_path %>

<% @implements.each do |implement| %>

<article class="implements">
	<header>
		<h2><%= link_to(implement.model, implement) %></h2>
		<%= image_tag(implement.image_file_name) %>
	</header>
	<p>
		<%= truncate(implement.description, length:35, separator:' ') %>
	</p>
	<table>
		<tr>
			<th> Equipment Category: </th>
			<td><%= implement.equipment_category %></td>
		</tr>
		<tr>
			<th> Horsepower: </th>
			<td><%= implement.hp %></td>
		</tr>
		<tr>
			<th> List Price: </th>
			<td><%= number_to_currency(implement.list_price) %></td>
		</tr>
		<tr>
			<th> Special Offers </th>
			<td><%= format_price(implement) %></td>
		</tr>
		<tr>
			<th> In Stock: </th>
			<td><%= implement.in_stock %></td>
		</tr>
	</table>	
</article>

<% end %>	