<article class="implements">
	
	<header>
		<h1><%= @implement.model %></h1>
	</header>

	<%= image_tag(@implement.image_file_name) %>

	<p><%= @implement.description %></p>

	<h3> Equipment Category: </h3>
	<p><%= @implement.equipment_category %></p>

	<h3> Horsepower: </h3>
	<p><%= @implement.hp %></p>

	<h3> List Price: </h3>
	<p><%= number_to_currency(@implement.list_price) %></p>

	<h3> Special Offers: </h3>
	<p><%= format_price(@implement) %></p>

	<h3> In Stock: </h3>
	<p><%= @implement.in_stock %></p>

</article>

<%= link_to "All Implements", root_path %>
<%= link_to "Edit", edit_implement_path(@implement) %>
<%= link_to "Delete", implement_path(@implement), method: :delete, data: {confirm: 'Are you sure?'} %>
